body {
  background-image: url("https://cdn.pixabay.com/photo/2023/03/17/12/28/greylag-goose-7858566_960_720.jpg");
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
